* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --body-bg: #FFFFFF;
  --color-text: #555555;
  --color-fff: #fff;
  --color-title: #222222;
  --bg-color: #F3FBF8;
  --btn-bg: #09A66D;
}

.body {
  width: 100%;
  height: auto;
  background-color: var(--body-bg);
}
.body menu {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body menu .menu__container {
  width: 95%;
  max-width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body menu .menu__container .menu__links-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body menu .menu__container .menu__links-section .menu__link {
  list-style: none;
}
.body menu .menu__container .menu__links-section .menu__link a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-title);
  padding: 0 15px 0 0;
}
.body menu .menu__container .menu__logo {
  width: 57px;
  height: 56px;
}
.body menu .menu__container .menu__logo .menu__img-logo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.body menu .menu__container .menu__sign {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body menu .menu__container .menu__sign .menu__search, .body menu .menu__container .menu__sign .menu__korzinka {
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  background-color: var(--bg-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.body menu .menu__container .menu__sign .menu__search i, .body menu .menu__container .menu__sign .menu__korzinka i {
  color: var(--color-title);
  font-size: 18px;
}
.body menu .menu__container .menu__sign .menu__button {
  background: var(--btn-bg);
  color: var(--color-fff);
  border: none;
  padding: 10px 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.body header {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bg-color);
  position: relative;
}
.body header .header__leaves {
  width: 612px;
  height: auto;
  left: 0;
  top: -5%;
  position: absolute;
}
.body header .header__container {
  max-width: 1240px;
  width: 100%;
}
.body header .header__container .header__up {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body header .header__container .header__up .header__title {
  padding: 90px 0 20px 0;
  text-align: center;
  color: var(--color-title);
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
}
.body header .header__container .header__up .header__paragraph {
  margin: 0 0 35px 0;
  overflow: hidden;
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  width: 637px;
}
.body header .header__container .header__up .header__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.body header .header__container .header__up .header__order .header__order-text {
  color: var(--color-title);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin: 0 10px 0 0;
}
.body header .header__container .header__up .header__order .header__order-button {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--btn-bg);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.body header .header__container .header__up .header__order .header__order-button i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  color: var(--bg-color);
}
.body header .header__container .header__down {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body header .header__container .header__down .header__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.body header .header__container .header__down .header__img img {
  width: 862.18px;
  height: 465.52px;
}
.body header .header__container .header__down .header__info {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.body header .header__container .header__down .header__info .header__card {
  list-style: none;
  background: var(--body-bg);
  width: 250px;
  height: 116px;
  margin: 20px 0 0 0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body header .header__container .header__down .header__info .header__card .header__left-card {
  width: 65px;
  height: 65px;
  background-color: var(--bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--btn-bg);
  font-size: 28px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.body header .header__container .header__down .header__info .header__card .header__right-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body header .header__container .header__down .header__info .header__card .header__right-card h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  color: var(--color-title);
}
.body header .header__container .header__down .header__info .header__card .header__right-card h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-title);
}
.body .about {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.body .about .about__container {
  max-width: 1240px;
  width: 95%;
  height: auto;
}
.body .about .about__container .about_-title {
  margin: 100px 0 20px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  color: var(--color-title);
}
.body .about .about__container .about__paragraph {
  width: 637.01px;
  height: 90px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-text);
}
.body .about .about__container .about__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body .about .about__container .about__content .about__left {
  width: auto;
  height: auto;
  list-style: none;
}
.body .about .about__container .about__content .about__left .about__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.body .about .about__container .about__content .about__left .about__cards .about__card {
  cursor: pointer;
  width: 500px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.body .about .about__container .about__content .about__left .about__cards .about__card .about__icon {
  width: 80px;
  height: 80px;
  background-color: var(--bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}
.body .about .about__container .about__content .about__left .about__cards .about__card .about__icon i {
  color: var(--btn-bg);
  font-size: 25px;
}
.body .about .about__container .about__content .about__left .about__cards .about__card .about__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 277.45px;
  height: 78px;
}
.body .about .about__container .about__content .about__left .about__cards .about__card .about__card-info h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-title);
}
.body .about .about__container .about__content .about__left .about__cards .about__card .about__card-info h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text);
}
.body .about .about__container .about__content .about__left .about__cards .about__card:hover {
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  background-color: var(--bg-color);
}
.body .about .about__container .about__content .about__left .about__cards .about__card:hover .about__icon {
  background-color: var(--color-fff);
}
.body .about .about__container .about__content .about__right {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body .about .about__container .about__content .about__right img {
  width: 600px;
  height: 600px;
}