*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
// root
:root{
    --body-bg: #FFFFFF;
    --color-text: #555555;
    --color-fff: #fff;
    --color-title: #222222;
    --bg-color: #F3FBF8;
    --btn-bg: #09A66D;
}

.body{
    width: 100%;
    height: auto;
    background-color: var(--body-bg);
    // menu
    menu{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        .menu__container{
            width: 95%;
            max-width: 1240px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .menu__links-section{
                display: flex;
                justify-content: space-between;
                .menu__link{
                    list-style: none;
                    a{
                        text-decoration: none;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 24px;
                        color: var(--color-title);
                        padding: 0 15px 0 0;
                    }
                }
            }
            .menu__logo{
                width: 57px;
                height: 56px;
                .menu__img-logo{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .menu__sign{
                width: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .menu__search, .menu__korzinka{
                    margin-right: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 40px;
                    width: 40px;
                    background-color: var(--bg-color);
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    cursor: pointer;
                    i{
                        color: var(--color-title);
                        font-size: 18px;
                    }
                }
                .menu__button{
                    background: var(--btn-bg);
                    color: var(--color-fff);
                    border: none;
                    padding: 10px 35px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 20px;
                    border-radius: 8px;
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    -ms-border-radius: 8px;
                    -o-border-radius: 8px;
                }
                .menu__button:hover{
                    cursor: pointer;
                    transform: scale(1.01);
                    transition: all 400ms ;
}
            }
        }
    }
    // header of web-site
    header{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        background-color: var(--bg-color);
        position: relative;
        .header__leaves{
            width: 612px;
            height: auto;
            left: 0;
            top: -5%;
            position: absolute;
        }
        .header__container{
            max-width: 1240px;
            width: 100%;
            .header__up{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                .header__title{
                    padding: 90px 0 20px 0 ;
                    text-align: center;
                    color: var(--color-title);
                    font-style: normal;
                    font-weight: 700;
                    font-size: 70px;
                    line-height: 90px;
                }
                .header__paragraph{
                    margin:  0 0 35px 0;
                    overflow: hidden;
                    color: var(--color-text);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    text-align: center;
                    width: 637px;
                }
                .header__order{
                    display: flex;
                    align-items: center;
                    margin: 0 auto;
                    cursor: pointer;
                    .header__order-text{
                        color: var(--color-title);
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 30px;
                        margin: 0 10px 0 0;
                    }
                    .header__order-button{
                        width: 60px;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: var(--btn-bg);
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        i{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 22px;
                            color: var(--bg-color);
                        }
                    }
                }
            }
            .header__down{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                .header__img{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 862.18px;
                        height: 465.52px;
                    }
                }
                .header__info{
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    .header__card{
                        list-style: none;
                        background: var(--body-bg);
                        width: 250px;
                        height: 116px;
                        margin: 20px 0 0 0;
                        border-radius: 10px;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        .header__left-card{
                            width: 65px;
                            height: 65px;
                            background-color: var(--bg-color);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: var(--btn-bg);
                            font-size: 28px;
                            border-radius: 50%;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            -ms-border-radius: 50%;
                            -o-border-radius: 50%;
                        }
                        .header__right-card{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            h3{
                                font-style: normal;
                                font-weight: 400;
                                font-size: 48px;
                                line-height: 48px;
                                color: var(--color-title);
                            }
                            h6{
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 30px;
                                color: var(--color-title);
                            }
                        }
                    }
                }
            }
        }
        
    }
    // about section
    .about{
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        .about__container{
            max-width: 1240px;
            width: 95%;
            height: auto;
            .about_-title{
                margin: 100px 0 20px 0;
                font-style: normal;
                font-weight: 700;
                font-size: 70px;
                line-height: 90px;
                color: var(--color-title);
            }
            .about__paragraph{
                width: 637.01px;
                height: 90px;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                color: var(--color-text);
            }
            .about__content{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .about__left{
                    width: auto;
                    height: auto;
                    list-style: none;
                    .about__cards{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .about__card{
                            cursor: pointer;
                            width: 500px;
                            height: 160px;
                            display: flex;
                            align-items: center;
                            justify-content: space-evenly;
                            border-radius: 10px;
                            -webkit-border-radius: 10px;
                            -moz-border-radius: 10px;
                            -ms-border-radius: 10px;
                            -o-border-radius: 10px;
                            .about__icon{
                                width: 80px;
                                height: 80px;
                                background-color: var(--bg-color);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 50%;
                                i{
                                    color: var(--btn-bg);
                                    font-size: 25px;
                                }
                            }
                            .about__card-info{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                width: 277.45px;
                                height: 78px;
                                h4{
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 20px;
                                    line-height: 30px;
                                    color: var(--color-title);
                                }
                                h5{
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 20px;
                                    color: var(--color-text);
                                }
                            }
                        }
                        .about__card:hover{
                            transition: all 400ms ease;
                            background-color: var(--bg-color);
                            .about__icon{
                                background-color: var(--color-fff);
                            }
                        }
                    }
                }
                .about__right{
                    width: auto;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 600px;
                        height: 600px;
                    }
                }
            }
        }
    }
    // services section
    .services{
        margin: 100px 0 0 0;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        background-color: var(--bg-color);
        position: relative;
        .services__conatiner{
            max-width: 1240px;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            margin: 100px 0;
            .services__left{
                list-style: none;
                img{
                    object-fit: cover;
                    width: 600px;
                    height: 600px;
                }
            }
            .services__right{
                display: flex;
                flex-direction: column;
                .services__title{
                    margin: 50px 0 0 20px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 65px;
                    line-height: 90px;
                    color: var(--color-title);
                }
                .services__subtitle{
                    margin: 20px 0 0 0 ;
                    margin-left: 20px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    color: var(--color-text);
                }
                .services__order{
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    margin: 20px 0 0 20px;
                    .services__order-text{
                        color: var(--color-title);
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 30px;
                        margin: 0 10px 0 0;
                    }
                    .services__order-button{
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: var(--btn-bg);
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        i{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 22px;
                            color: var(--bg-color);
                        }
                    }
                }
            }
        }
        .services__laeves{
            width: 540px;
            height: auto;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    // menu section
    .menu{
        margin: 100px 0 0 0;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .s-menu-container{
            max-width: 1240px;
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            .s-menu__left{
                display: flex;
                flex-direction: column;
                list-style: none;
                .s-menu__title{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 70px;
                    line-height: 90px;
                    color: var(--color-title);
                }
                .s-menu__subtitle{
                    margin: 30px 0 0 0;
                    width: 586.26px;
                    height: 180px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    color: var(--color-text);
                }
                .s-menu__foot{
                    width: auto;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    margin: 70px 0 0 0;
                    .s-menu__left-foot{
                        list-style: none;
                        .s-menu__name{
                            font-style: normal;
                            font-weight: 500;
                            font-size: 30px;
                            line-height: 36px;
                            color: var(--color-title);
                        }
                        .s-menu__stars{
                            margin: 10px 0;
                            display: flex;
                            .s-menu__star{
                                list-style: none;
                                color: rgb(225, 225, 0);
                                margin: 0 10px 0 0;
                            }
                        }
                    }
                    .s-menu__right-foot{
                        margin-right: 50px;
                        display: flex;
                        .s-menu-btn{
                            cursor: pointer;
                            width: 56px;
                            height: 56px;
                            list-style: none;
                            background-color: transparent;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 0 10px;
                            border-radius: 50%;
                            i{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: var(--btn-bg);
                                font-size: 25px;
                            }
                        }
                        .s-menu-btn:active{
                            background-color: var(--btn-bg);
                            i{
                                color: var(--color-fff);
                            }
                        }
                    }
                }
            }
            .s-menu__right{
                list-style: none;
                width: 800px;
                height: 500px;
                background-color: var(--bg-color);
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                img{
                    width: auto;
                    height: 444.82px;
                    object-fit: cover;
                }
            }
        }
    }
    // contact secction
    .contact{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        .contact__container{
            margin: 100px 0 100px 0;
            max-width: 1240px;
            height: auto;
            width: 100%;
            display: flex;
            justify-content: space-between;
            .contact__left{
                list-style: none;
                img{
                    width: auto;
                    height: 496.06px;
                    object-fit: cover;
                    margin: 0 100px;
                }
            }
            .contact__right{
                list-style: none;
                width: auto;
                height: auto;
                margin: 0 0 0 50px;
                .contact__btn{
                    margin: 40px 0 0 0;
                    border-radius: 50px;
                    background-color: var(--bg-color);
                    color: var(--color-title);
                    padding: 15px 45px;
                    border: none;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 18px;
                }
                .contact__title{
                    margin: 20px 0 0 0;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 70px;
                    line-height: 90px;
                    color: var(--color-title);
                }
                .contact__subtitle{
                    width: 574.18px;
                    height: 90px;
                    color: var(--color-text);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    margin: 30px 0 0;
                }
            }
        }
    }
}